<div class="skg-main-ctr-btns">

  <div class="skg-main-buttons">

    <div class=" skg-main-buttons-btn skg-engines-btn">
      <i class="material-icons">&#xe532;</i>
    </div>

    <div class=" skg-main-buttons-btn  skg-lock-btn">
      <i class="material-icons">&#xe899;</i>
    </div>

    <div class="skg-main-buttons-btn  skg-light-btn">
      <i class="material-icons">&#xe42e;</i>
    </div>

  </div>

  <div class="skg-secondary-buttons" data-skg-state="show">

    <div>

      <div data-skg-device="switch1" data-skg-act="on" class=" skg-main-buttons-btn  skg-lock-btn">
        <i class="material-icons">&#xe899;</i>
      </div>

      <div data-skg-device="switch2" data-skg-act="on" class="skg-main-buttons-btn  skg-light-btn">
        <i class="material-icons">&#xe42e;</i>
      </div>

      {{!-- <div class=" skg-main-buttons-btn  skg-lock-btn">
        <i class="material-icons">&#xe1ad;</i>
      </div>

      <div class="skg-main-buttons-btn  skg-light-btn">
        <i class="material-icons">&#xe55c;</i>
      </div> --}}

    </div>

    <div>

      <div data-skg-device="motor1" data-skg-act="forward" class=" skg-main-buttons-btn skg-engines-btn">
        <i class="material-icons">&#xe532;</i>
      </div>

      <div data-skg-device="motor2" data-skg-act="forward" class=" skg-main-buttons-btn skg-engines-btn">
        <i class="fa fa-anchor"></i>
      </div>


    </div>

  </div>

</div>