<div class="skg-main-ctr-btns">

  <div class="skg-main-buttons">

    <div class=" skg-main-buttons-btn skg-engines-btn">
      <i class="material-icons">&#xe532;</i>
    </div>

    <div class=" skg-main-buttons-btn  skg-lock-btn">
      <i class="material-icons">&#xe899;</i>
    </div>

    <div class="skg-main-buttons-btn  skg-light-btn">
      <i class="material-icons">&#xe42e;</i>
    </div>

  </div>

  <div class="skg-secondary-buttons" data-skg-state="hide">

    <div>

      <div class=" skg-main-buttons-btn skg-engines-btn">
        <i class="material-icons">&#xe535;</i>
      </div>

      <div class=" skg-main-buttons-btn  skg-lock-btn">
        <i class="material-icons">&#xe1ad;</i>
      </div>

      <div class="skg-main-buttons-btn  skg-light-btn">
        <i class="material-icons">&#xe55c;</i>
      </div>

    </div>

    <div>

      <div class=" skg-main-buttons-btn skg-engines-btn">
        <i class="material-icons">&#xe534;</i>
      </div>

      <div class=" skg-main-buttons-btn  skg-lock-btn">
        <i class="material-icons">&#xe899;</i>
      </div>

      <div class="skg-main-buttons-btn  skg-light-btn">
        <i class="material-icons">&#xe42e;</i>
      </div>

    </div>

  </div>

</div>