<div class="skg-container">
  {{> header }}

  {{> buttons }}

  {{> footer }}
</div>
<script>
  $(document).ready(function () {

    function turnOnEngine() {
      $(".skg-on-btn").attr("data-skg-state", "on");
      $(".skg-main-buttons").hide();
      $(".skg-secondary-buttons").attr("data-skg-state", "show");
    };

    function turnOffEngine() {
      $(".skg-on-btn").attr("data-skg-state", "off");
      $(".skg-secondary-buttons").attr("data-skg-state", "hide");
      $(".skg-main-buttons").show();
    };


    function postData({ data }) {
      $.ajaxSetup({

        url: "/homeWithPartials",
        type: "GET",
        data,
        //dataType: 'json',
        //contentType: 'application/json',
        success: function (result) {
          console.log("result is ", result);
        }
      });

      $.ajax();

    };


    $(".skg-on-btn").click(function () {

      const state = $(this).attr("data-skg-state");
      const action = state === "on" ? turnOffEngine() : turnOnEngine();
      return false;

    });

    $(".skg-main-buttons-btn").click(function () {

      const state = $(this).attr("data-skg-state");
      const action = state === "on" ? $(this).attr("data-skg-state", "off") : $(this).attr("data-skg-state", "on");
      const device =  $(this).attr("data-skg-device");
      const act = $(this).attr("data-skg-act");

      if(device === "motor1" || device === "motor2" ){

        if(act === "forward" ){
          $(this).attr("data-skg-act", "stop");
        }else {
          $(this).attr("data-skg-act", "forward");
        }        
      }else{

        if(act === "on" ){
          $(this).attr("data-skg-act", "off");
        }else {
          $(this).attr("data-skg-act", "on");
        }  

      }
    


      const data = {
        device,
        act
      };
      return postData({ data });

    });



  });
</script>
<!-- /container -->